# Output files
*.gv
*.npy
*.pdf
*.pickle
*.png
*.svg
*.v2
*.xml

# Build files
*.[ado]
*.egg-info/
*build/
.eggs/
.fuse_*
compiler_flags
dist/
lib/
version.py

# Temporary files
*.aux
*.log
*.pyc
*.synctex*
*condaenv.*
.coverage
.coverage.*
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
__pycache__/
htmlcov/
prof/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
.idea/
**.code-workspace
