# Output files
*.gv
*.npy
*.pdf
*.pickle
*.png
*.svg
*.v2
*.xml

# Build files
*.[ado]
*.egg-info/
*build/
.eggs/
.fuse_*
compiler_flags
dist/
lib/
lite/
version.py

# Temporary files
*.aux
*.dvi
*.log
*.pyc
*.synctex*
.coverage
.coverage.*
.ipynb_checkpoints/
.jupyterlite.doit.db
.mypy*/
.virtual_documents/
__pycache__/
htmlcov/
node_modules/
prof/

# Virtual environments
.pixi/

# Settings
.idea/
**.code-workspace
