# This config file generates/fits omega pi0 for up tp spin 2 states based on amplitude analysis expansion by model by Adam Szczepaniak & Vincent Mathieu
#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary 
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ... 
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian") 
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################

# useful masses and widths
define b1 1.235 0.142
define deltapp 1.21 0.100
keyword lowerVertex 4 6
lowerVertex deltapp Proton Pi+

parameter dalitz_alpha 0.1212 fixed
#0.1212 0.112 #0.1201 0.109

parameter dalitz_beta 0.0257 fixed
#0.0257 0.023 # 0.0302 0.026

parameter dalitz_gamma 0.0 fixed
#0 0.029 #0 0.019

parameter dalitz_delta 0.0 fixed
#0 0 #0 0 #not used in 2020 JPAC paper

define dalitz [dalitz_alpha] [dalitz_beta] [dalitz_gamma] [dalitz_delta] 

fit FITNAME
normintfile omegapi NIFILE

genmc omegapi ROOTDataReaderTEM anglesOmegaPiPhaseSpace.root TEMSTRING
accmc omegapi ROOTDataReaderTEM anglesOmegaPiPhaseSpaceAcc.root TEMSTRING
bkgnd omegapi ROOTDataReaderTEM anglesOmegaPiAmplitude.root TEMSTRING background
data omegapi ROOTDataReaderTEM anglesOmegaPiAmplitude.root TEMSTRING signalTree

# some definitions for adjusting the beam polarization
define beamconfig beam.config
define angle 0.00
define fraction 0.35

reaction omegapi Beam Proton Pi-1 Pi0 Pi+1 Pi-2 Pi+2

# Sums
sum omegapi ConjNegPolPosHel
# NormNegPolPosHel ConjPosPolPosHel NormPosPolPosHel ConjNegPolNegHel NormNegPolNegHel ConjPosPolNegHel NormPosPolNegHel

# Vec_ps_refl: Vector-Pseudoscalar amplitude in reflectivity basis
#   following omegapi_amplitude by A. Foda with extension to reflectivity basis, similar Zlm as suggested in GlueX doc-4094 (M. Shepherd)
# argument 1 : spin
# argument 2 : spin_proj
# argument 3 : l
# argument 4 : real (+1) or imaginary (-1) part of Zlm
# argument 5 : 1 + (+1/-1) * P_gamma
# argument 6 : polarization angle
# argument 7 : beam properties config file or fixed polarization
# argument 8 : omega3pi for omega->3pi decay (leave blank for 2-body decays)

# amplitude naming convention: [refl][spin parity][spin_proj][l][lambda_Delta]
#	[refl] = p or m
#	[spin parity] = 0-, 1+, 1-, 2+, 2-, etc.
#	[spin_proj] = m2, m, 0, p, p2
#	[l] = s, p, d, f, etc.
#	[lambda_Delta] = m3 m1 p1 p3

#############################################################
#amplitude omegapi::sum_name::amp_name Vec_ps_refl spin spin_proj l real sign angle fraction omega3pi

# LowerVertexDelta: Decay of Delta baryon at lower vertex
# argument 1 : double the helicity of the Delta
# argument 2 : double the helicity of the final state proton
# argument 3 : +1 if the Wigner D function is used, -1 for its complex conjugate
# argument 4 : sign of the amplitude (+/-1)
# argument 5 : indices of the final state particles from lower vertex decay

############################################################
#amplitude omegapi::sum_name::amp_name LowerVertexDelta 2lambda_Delta 2lambda_proton conj sign 16

############################ spin 1 parity +1 ##################################

amplitude omegapi::ConjNegPolPosHel::p1ppsp3 LowerVertexDelta +3 +1 -1 +1 16
#amplitude omegapi::ConjNegPolPosHel::m1ppsp3 LowerVertexDelta +3 +1 -1 +1 16
amplitude omegapi::ConjNegPolPosHel::p1ppsp3 Vec_ps_refl 1 +1 0 +1 -1 angle fraction omega3pi
#amplitude omegapi::ConjNegPolPosHel::m1ppsp3 Vec_ps_refl 1 +1 0 -1 -1 angle fraction omega3pi
amplitude omegapi::ConjNegPolPosHel::p1ppsp3 OmegaDalitz dalitz 3 4 5
#amplitude omegapi::ConjNegPolPosHel::m1ppsp3 OmegaDalitz dalitz 3 4 5
amplitude omegapi::ConjNegPolPosHel::p1ppsp3 BreitWigner deltapp 1 1 6
#amplitude omegapi::ConjNegPolPosHel::m1ppsp3 BreitWigner deltapp 1 1 6

initialize omegapi::ConjNegPolPosHel::p1ppsp3 cartesian 1 0
#initialize omegapi::ConjNegPolPosHel::m1ppsp3 cartesian 0 0

